*{
    font-family: 'Open Sans', sans-serif;
}


.img_logo{
    width: 10em;
}
.input{
    background-color: #808080;
    color: white;

}
h1{
    font-weight: bold;
    font-size: 45px;
}
.gris{
    padding-top: 5%;
}
.ingresodatos{
    text-align: center;
    background-color: #9A9A9A;
    padding: 6%;
    border-radius: 5%;

}
 
input{
    width: 16em;
    height: 2.5em;
    margin-bottom: 0.5em;
}
button{
    background-color: #3EB0F7;
    border: none;
    color: white;
   width: 16em;
    height: 2em;

}

.descripcion{
    font-size: 14px;
}
@media only screen and(min-width:535px) and(max-width:824px) {
    
    .text{
        text-align: center;
    }

}
